<%= f.error_messages %>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :caption %><br />
  <%= f.text_field :caption %>
</p>
<p>
  <%= f.label :image %><br />
  <%= f.file_field :image %>
</p>